<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>AboutPage</title>
</head>
<body>
    <h1>Christopher Nolan - British director</h1>
    <img src="../img/christopherNolan.jpg">
    <article>
        <p>
            Christopher Nolan, (born July 30, 1970, London, England), British film director and writer acclaimed for his noirish visual aesthetic and unconventional, often highly conceptual narratives.
        </p>
        <p>
            Nolan was raised by an American mother and a British father, and his family spent time in both Chicago and London. As a child, he attended Haileybury, a boarding school just outside London. From a young age Nolan was interested in moviemaking and would use his father’s Super-8 camera to make shorts. He was influenced by George Lucas’s Star Wars trilogy and by the immersive dystopian films of Ridley Scott. After attending University College London, where he studied English literature, Nolan began directing corporate and industrial training videos. At the same time he was working on his first full-length release, Following (1998). The film centred on a writer going to dangerous lengths to find inspiration; it took Nolan 14 months to complete. On the strength of its success on the festival circuit, he and his producer wife moved to Hollywood.
        </p>
        <p>
            The release of Inception (2010) marked the realization of a script Nolan had begun a decade prior. It starred Leonardo DiCaprio as a corporate spy who steals secrets via a technology that allows him to enter people’s dreams. The film turns on this character’s attempt to move past the boundaries of the technology in order to actually plant an idea in a dreamer’s head. Inception was another commercial and critical hit and earned Nolan a second Academy Award nomination for best original screenplay. His Batman series concluded with the grandiose The Dark Knight Rises (2012), in which the superhero’s exploits were set against a backdrop of civil unrest. Nolan also helped develop the story for the Superman reboot Man of Steel (2013).
        </p>
        <p>
            Nolan then helmed Interstellar (2014), which he had written with Jonathan. The sci-fi drama depicted the efforts of a group of scientists to relocate humanity from an Earth vitiated by war and famine to another planet by way of a wormhole. His next film, Dunkirk (2017), which he also wrote, centres on the evacuation of Allied troops from France during World War II. The action drama earned universal acclaim and was nominated for a number of Academy Awards, including best picture. In addition, Nolan received an Oscar nod for his direction. In 2020 he wrote and directed Tenet, a time-bending action thriller that centres on a C.I.A. agent trying to avert a world war.
        </p>

    </article>
    <footer>
        <section>
            <a href="/" id="boxButton"> 
                <div class="btn">
                    <span>Go back home</span>
                </div>
            </a>
        </section>
        <section>
            <a href="/works" id="boxButton"> 
                <div class="btn">
                    <span>Go discover some of his movies</span>
                </div>
            </a>
        </section>
    </footer>     
</body>
</html>