<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>WorksPage</title>
</head>
<body>
    <h1>his best 4 movies are:</h1>
    <div id="4bestmovies">
        <img class="poster" src="../img/inceptionposter.jpeg">
        <img class="poster" src="../img/tdkposter.jpg">
        <img class="poster" src="../img/tenetposter.jpg">
        <img class="poster" src="../img/interstellarposter.jpg">            
    </div>
    <footer>
        <section>
            <a href="/" id="boxButton"> 
                <div class="btn">
                    <span>Go back home</span>
                </div>
            </a>
        </section>
        <section>
            <a href="/about" id="boxButton"> 
                <div class="btn">
                    <span>Go check about his life</span>
                </div>
            </a>
        </section>
    </footer>   
</body>
</html>